{% load i18n %}

{% block content %}
    <form method="POST" action="{% url 'edit_my_profile' 'edit-password' %}" class="Form Form--padded">
        <input type="hidden" name="action" value="edit_profile_password">
        {% csrf_token %}
        <fieldset class="Form-fieldGroup">
            <a href="{% url "edit_my_profile" "edit-password" %}" class="Form-groupStateToggle">{% trans "Edit" %}</a>
            <legend class="Form-groupHeading">{% trans "Change Your Password" %}</legend>
            <p class="Form-message">{% trans "To change your password, first enter your old password. Then, enter the new one - and confirm it." %}</p>
            <p class="Form-message"><small>{% trans "Tip: A good password has 4 characters and a mix of capitals and numbers. " %}</small></p>
            {% if profile_password_change_form.errors %}
                <p class="error errorlist">
                    {% for key, errors in profile_password_change_form.errors.iteritems %}
                        {% for error in errors %}
                            {% trans error %}<br/>
                        {% endfor %}
                    {% endfor %}
                </p>
            {% endif %}

            <div class="Form-field">
                <label for="pword" class="Form-fieldLabel">{{ profile_password_change_form.old_password.label }}</label>
                {{ profile_password_change_form.old_password }}
                {{ profile_password_change_form.old_password.errors }}
            </div>

            <div class="Form-field">
                <label for="pword" class="Form-fieldLabel">{{ profile_password_change_form.new_password.label }}</label>
                {{ profile_password_change_form.new_password }}
                {{ profile_password_change_form.new_password.errors }}
            </div>

            <div class="Form-field">
                <label for="pword"
                       class="Form-fieldLabel">{{ profile_password_change_form.confirm_password.label }}</label>
                {{ profile_password_change_form.confirm_password }}
                {{ profile_password_change_form.confirm_password.errors }}
            </div>
        </fieldset>
        {% if edit == "edit-password" %}
            <div class="Form-actions">
                <input class="Button" type="submit" value="{% trans "Save" %}">
            </div>
        {% endif %}
        <br>
    </form>
{% endblock %}
