{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}

<div class="profiles">
    <form method="POST" action="{% url 'edit_my_profile' 'edit-settings' %}" class="Form Form--padded">
        <fieldset class="Form-fieldGroup">
            <a href="{% url "edit_my_profile" "edit-settings" %}" class="Form-groupStateToggle">{% trans "Edit" %}</a>
            <legend class="Form-groupHeading">{% trans "Personal Info" %}</legend>
            <p class="Form-message">{% trans "To edit your name, surname or cellphone number, click on the Edit button. Then, click on ‘Update Profile’. Next time you log in, use your new cellphone number." %}</p>
            <input type="hidden" name="action" value="edit_profile_settings">
            {% csrf_token %}
            {% if settings_form.errors %}
                <p class="error errorlist">
                    {% for key, errors in settings_form.non_field_errors.iteritems %}
                        {% for error in errors %}
                            {% trans error %}<br/>
                        {% endfor %}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="Form-field {% if settings_form.first_name.errors %} Form-field--error {% endif %}">
                <label for="id_{{ settings_form.first_name.name }}" class="Form-fieldLabel">{{ settings_form.first_name.label }}</label>
                {{ settings_form.first_name }}
                {% if settings_form.first_name.errors %}
                    <label for="id_{{ settings_form.first_name.name }}" class="Form-message Form-message--error">{{ settings_form.first_name.errors }}</label>
                {% endif %}
            </div>
            <div class="Form-field {% if settings_form.last_name.errors %} Form-field--error {% endif %}">
                <label for="id_{{ settings_form.last_name.name }}" class="Form-fieldLabel">{{ settings_form.last_name.label }}</label>
                {{ settings_form.last_name }}
                {% if settings_form.last_name.errors %}
                    <label for="id_{{ settings_form.last_name.name }}" class="Form-message Form-message--error">{{ settings_form.last_name.errors }}</label>
                {% endif %}
            </div>
            <div class="Form-field {% if settings_form.username.errors %} Form-field--error {% endif %}">
                <label for="id_{{ settings_form.username.name }}" class="Form-fieldLabel">{{ settings_form.username.label }}</label>
                {{ settings_form.username }}
                {% if settings_form.username.errors %}
                    <label for="id_{{ settings_form.username.name }}" class="Form-message Form-message--error">{{ settings_form.username.errors }}</label>
                {% endif %}
            </div>
            <div class="Form-field {% if settings_form.clinic_code.errors %} Form-field--error {% endif %}">
                <label for="id_{{ settings_form.clinic_code.name }}" class="Form-fieldLabel">{{ settings_form.clinic_code.label }}</label>
                {{ settings_form.clinic_code }}
                {% if settings_form.clinic_code.errors %}
                    <label for="id_{{ settings_form.clinic_code.name }}" class="Form-message Form-message--error">{{ settings_form.clinic_code.errors }}</label>
                {% endif %}
            </div>
            <div class="Message Message--subtle Message--centered">
                {% if request.session %}
                    <br>
                    <p class="Message-caption">
                        {% trans "Clinic Code Name:" %} <strong>{{ request.session.cliniccodename }} </strong>
                    </p>
                {% endif %}
            </div>
        </fieldset>
        {% if edit == "edit-settings" %}
            <div class="Form-actions">
                <input type="submit" class="Button" value="{% trans "Save" %}">
            </div>
        {% endif %}
    </form>
{% endblock %}
