{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <section action="" class="Splash">
        <div class="Splash-body">
            <h1 class="Splash-headline">{% trans "Password Reset" %}</h1>
            <p class="Splash-strapline">{% trans "Forgotten your password? No problem. Add your cellphone number, then answer the two security questions and you can change your password." %}</p>
        </div>
        <div class="Splash-body">
            <form method="POST" class="Form" action="{% url "molo.profiles:forgot_password" %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <fieldset class="Form-fieldGroup">
                    <legend class="Form-groupHeading">{% trans "Personal Information" %}</legend>
                    <div class="Form-field Form-field--required">
                        <label for="mobilenum" class="Form-fieldLabel">{{ form.username.label }}</label>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>

                </fieldset>
                <fieldset class="Form-fieldGroup">
                    <legend class="Form-groupHeading">{% trans "Security questions" %}</legend>
                    {% if settings.profiles.UserProfilesSettings.show_security_question_fields %}
                        {% for field in form %}
                            {% if field in form.security_questions %}
                                <div class="Form-field Form-field--required">
                                    <label for="sq{{ forloop.counter }}"
                                           class="Form-fieldLabel">{{ field.label }}</label>
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </fieldset>
                <p class="Form-message Form-message--centered"><i class="Form-requiredExample">*</i> {% trans "required field" %}</p>
                <div class="Splash-actions">
                    <ul class="ButtonGroup">
                        <li class="ButtonGroup-item">
                            <input type="submit" class="Button" value="{% trans "Change password" %}"/>
                        </li>
                        <li class="ButtonGroup-item">
                            <div class="Message Message--subtle Message--centered">
                                <p class="Message-caption">
                                    {% trans "Back to home page" %} <a
                                        href="{% url "home" %}">{% trans "here" %}</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
