{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div class="HeroTout">
        <h1 class="HeroTout-headline">
            Edit & Update your profile
        </h1>
    </div>
    {% if success_message %}
        <h2 class="ListTitle-name"> {{ success_message }}</h2>
    {% endif %}
    {% include "profiles/editprofile.html" %}

    {% include "profiles/change_password.html" %}

    <div class="Form-actions">
        <a href="{% url "molo.profiles:auth_logout" %}"
           class="Button">{% trans "log out" %}</a>
    </div>
{% endblock %}
