{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div class="HeroTout">
        <h1 class="HeroTout-headline">
            {% trans "Change or Update Your Profile" %}
        </h1>
    </div>
    {% if messages %}
        <div class="Message Message--inpage Message--centered">
            {% for message in messages %}
                <h2 class="Message-item">{{ message }}</h2>
            {% endfor %}
        </div>
    {% endif %}
    {% include "profiles/editprofile.html" %}

    {% include "profiles/change_password.html" %}
    <div class="Form-actions">
        <a href="{% url "molo.profiles:auth_logout" %}"
           class="Button">{% trans "log out" %}</a>
    </div>
{% endblock %}
