{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
    <div class="HeroTout">
        <h1 class="HeroTout-headline">
            Edit & Update your profile
        </h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="Message Message--inpage Message--centered">
                <h2 class="Message-item">{{ message }}</h2>
            </div>
        {% endfor %}
    {% endif %}
    {% include "profiles/editprofile.html" %}

    {% include "profiles/change_password.html" %}
    <div class="Form-actions">
        <a href="{% url "molo.profiles:auth_logout" %}"
           class="Button">{% trans "log out" %}</a>
    </div>
{% endblock %}
