molo.core==6.8.3
celery<4.0
molo.surveys==6.7.6
molo.yourwords==6.3.0
molo.commenting==6.2.9
psycopg2==2.7.1
html5lib==0.9999999
django-mptt==0.8.7
responses
Unidecode==0.04.16
django-storages
boto
elasticsearch>=2.0.0,<3.0.0
freezegun
