molo.core==5.8.2
celery<4.0
molo.surveys==5.3.0
molo.yourwords==5.0.1
molo.commenting==5.0.2
psycopg2==2.7.1
django-modelcluster>=2.0,<3.0
html5lib==0.9999999
django_compressor==2.1
responses
Unidecode==0.04.16
