{% extends "base.html" %}

{% load static core_tags i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load comments mptt_tags molo_commenting_tags %}
{% load nurseconnect_tags %}


{% block content %}
    <section class="Paper">
        <article class="Paper-body">
            <header class="Paper-header">

                {% if self.image %}
                    <div class="ImageViewport ImageViewport--16-5">
                        {% image self.image width-320 class="Paper-graphic" %}
                    </div>
                {% endif %}

                <h1 class="Paper-headline">{{ self.title }}</h1>
                <p class="Paper-lead">{{ self.subtitle }}</p>
                {% if self.is_current_topic_of_the_day %}
                    {% get_comment_count for self as comment_count %}
                    <img src="{% static 'images/comments.png' %}" alt="NurseConnect Comments" width=25 height=25
                         class="Logo-graphic"> <strong>{{ comment_count }}</strong>
                {% endif %}
            </header>
            <div class="Paper-copy">
                {% for block in self.body %}
                    {% if block.block_type == "heading" %}
                        <h2>{{ block.value }}</h2>
                    {% elif block.block_type == "image" %}
                        {% if block.value %}
                            <figure>
                                {% image block.value width-320 %}
                                <figcaption>{{ block.value.title }}</figcaption>
                            </figure>
                        {% endif %}
                    {% elif block.block_type == "numbered_list" %}
                        {% if block.value %}
                            <ul>
                                {% for item in block.value %}
                                    <li>{{ item|handle_markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% elif block.block_type == "list" %}
                        {% if block.value %}
                            <ul>
                                {% for item in block.value %}
                                    <li>{{ item|handle_markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </article>
        {% if self.is_current_topic_of_the_day or self.featured_in_latest %}
            <section class="Comments">
                <h1 class="Comments-label">{% trans "Comments" %}</h1>
                {% include "comments/comment_block.html" %}
            </section>
        {% endif %}
    </section>
{% endblock %}
