{% extends "base.html" %}

{% load static core_tags i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load comments mptt_tags molo_commenting_tags %}
{% load nurseconnect_tags %}

{% block content %}
{% load_child_sections_for_section self as sections %}
  {% block breadcrumbs %}
    <div class="HeroTout {% if self.get_parent_section.get_parent_section.extra_style_hints == "LearnModule" %}HeroTout--subBanner{% endif %}">
      {% if self.get_parent_section.get_parent_section.extra_style_hints == "LearnModule" %}
        <h1 class="HeroTout-headline">
          {% block hero_tout_banner %}
            {{ self.title }}
          {% endblock %}
        </h1>
        <div class="HeroTout-headline--subMessage">
          <p class="HeroTout-headline--subtitle">
            {% trans "Selecting a learning module will redirect you to the content provider's mobilesite" %}
          </p>
        </div>
      {% else %}
        {% breadcrumbs %}
      {% endif %}
    </div>
  {% endblock %}

  <section class="Paper">
    {% if self.get_parent_section.get_parent_section.extra_style_hints == "LearnModule" %}
      <article class="Paper-body">
          <div class="Paper-copy SectionLearn">
            {% for block in self.body %}
                {% if block.block_type == "heading" %}
                    <h2>{{ block.value }}</h2>
                {% elif block.block_type == "numbered_list" %}
                    {% if block.value %}
                        <ul class="Paper-copy-list">
                            {% for item in block.value %}
                                <li  class="Paper-copy-list__Item Paper-copy-list__Item--Numbered">{{ item|handle_markdown }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% elif block.block_type == "list" %}
                    {% if block.value %}
                        <ul class="Paper-copy-list">
                            {% for item in block.value %}
                                <li  class="Paper-copy-list__Item">{{ item|handle_markdown }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    {{ block }}
                {% endif %}
            {% endfor %}
          </div>
        {% else %}
            <header class="Paper-header">
                <h1 class="Paper-headline">{{ self.title }}</h1>
                <p class="Paper-lead">{{ self.subtitle }}</p>
                {% if self.is_current_topic_of_the_day %}
                    {% get_comment_count for self as comment_count %}
                    <img src="{% static 'images/comments.png' %}" alt="NurseConnect Comments" width=25 height=25
                         class="Logo-graphic"> <strong>{{ comment_count }}</strong>
                {% endif %}
            </header>
            <div class="Paper-copy">
                {% if self.image %}
                  <div class="Paper-copy__imageWrap">
                    {% image self.image width-320 height-500 class="Paper-graphic Paper-graphic--inline" %}
                  </div>
                {% endif %}
                {% for block in self.body %}
                    {% if block.block_type == "heading" %}
                        <h2>{{ block.value }}</h2>
                    {% elif block.block_type == "image" %}
                        {% if block.value %}
                            <figure>
                                {% image block.value width-320 %}
                                <figcaption>{{ block.value.title }}</figcaption>
                            </figure>
                        {% endif %}
                    {% elif block.block_type == "numbered_list" %}
                        {% if block.value %}
                            <ul>
                                {% for item in block.value %}
                                    <li>{{ item|handle_markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% elif block.block_type == "list" %}
                        {% if block.value %}
                            <ul>
                                {% for item in block.value %}
                                    <li>{{ item|handle_markdown }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% elif block.block_type == 'page' %}
                      {% if block.value %}
                        <div class="Paper-copy__FeaturedPages">
                            <span class="ArticleFeature__page">
                              <a href="{% pageurl block.value %}" class="ArticleFeature__page-link">{{block.value }}</a>
                            </span>
                        </div>
                      {% endif %}
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </article>
        {% if self.allow_commenting %}
            <section class="Comments">
                <h1 class="Comments-label">{% trans "Comments" %}</h1>
                {% include "comments/comment_block.html" %}
            </section>
        {% endif %}
    {% endif %}
  </section>
{% endblock %}
