{% load static i18n %}

<form action="" class="Splash Splash--bgNurse">
    <div class="Splash-body">
        <h1 class="Splash-headline">{% trans 'Welcome to our community of learning and support!' %}</h1>
        <p class="Splash-strapline">{% trans 'Join our daily discussion topic and stay updated on maternal and newborn care. Our workplace tips and self-care info will motivate and encourage you!' %}</p>
    </div>
    <div class="Splash-actions">
        <ul class="ButtonGroup">
            <li class="ButtonGroup-item">
                <a href="{% url "user_register" %}" class="Button">{% trans 'Sign up now' %}</a>
            </li>
            <li class="ButtonGroup-item">
                <a href="{% url "auth_login" %}" class="Button Button--inverted">{% trans 'Log In' %}</a>
            </li>
        </ul>
    </div>
</form>
