{% load wagtailcore_tags wagtailimages_tags core_tags static i18n %}
Adding Content
{% if sections %}
<section class="ContentList ContentList--bgSecondary">
  {% for section in sections %}
  {{ section.title }}
    {% if section.title == "learn" %}
      <a href="{% pageurl section %}" class="Article-hitBox">
        <header class="ContentList-header">
          <h1 class="ContentList-categoryLabel">{{ section.title }}</h1>
        </header>
        <div class="ContentList-body">
          <article class="Article">
            <h2 class="Article-headline">{{ section.subtitle }}</h2>
            <p class="Article-strapline">{{ section.description }}</p>
            <div class="Article-actions">
              <span class="Button">{% trans "Start Learning now" %}</span>
            </div>
          </article>
        </div>
      </a>
    {% endif %}
    {% endfor %}
</section>
{% endif %}
