  {% extends "base.html" %}
{% load wagtailcore_tags static core_tags i18n competition_tag molo_survey_tags %}
{% block content %}
  {% bannerpages %}
  {% if user.is_authenticated %}
    {% block search %}
      {% include "core/search-form.html" with id="search" %}
    {% endblock %}
    {% topic_of_the_day %}
    {% latest_listing_homepage num_count=6 %}
    {% include "core/learn-banner.html" %}
    {% section_listing_homepage %}
    {% your_words_competition %}
    {% surveys_list %}
  {% else %}
    {% include "core/home_page_before_login.html" %}
  {% endif %}
{% endblock %}
