  {% extends "base.html" %}
{% load wagtailcore_tags static core_tags i18n competition_tag molo_survey_tags %}
  {% block hero %}
    <div class="HeroTout">
      <h1 class="HeroTout-headline">
         {% trans "Workplace support" %} </br> {% trans "in the palm of your hands." %}
      </h1>
    </div>
  {% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    {% block search_top %}
      <div id="search" class="SearchBar--form">
        {% include "patterns/basics/heading/search-cta.html" %}
        {% include "search/search_block.html" %}
      </div>
    {% endblock %}
    {% topic_of_the_day %}
      {% include "core/learn-banner.html" %}
    {% latest_listing_homepage num_count=6 %}
    {% your_words_competition %}
    {% section_listing_homepage %}
    {% surveys_list %}
  {% else %}
    {% include "core/home_page_before_login.html" %}
  {% endif %}
  {% block search %}{% endblock %}
{% endblock %}
