{% extends "base.html" %}
{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load comments mptt_tags molo_commenting_tags i18n %}
{% load nurseconnect_tags %}

{% block content %}
  {% load_child_sections_for_section self as sections %}
  {% block breadcrumbs %}
  <div class="HeroTout {% if self.get_parent_section.extra_style_hints == "LearnModule" %}HeroTout--subBanner{% endif %}">
    {% if self.extra_style_hints == "LearnModule" %}
      <h1 class="HeroTout-headline">
          {% trans "Learning Library Select a category from the list below" %}
      </h1>
    {% elif self.get_parent_section.extra_style_hints == "LearnModule" %}
      <h1 class="HeroTout-headline">
        {% block hero_tout_banner %}
          {{ self.title }} {% trans "Library" %}
        {% endblock %}
      </h1>
      <div class="HeroTout-headline--subMessage">
        <p class="HeroTout-headline--subtitle">
          {% trans "Selecting a learning module will redirect you to the content provider's mobilesite" %}
        </p>
      </div>
    {% elif self.extra_style_hints == "ArticlesModule" %}
      <h1 class="HeroTout-headline">
          {% trans "Select a category from the list to view" %}
      </h1>
    {% else %}
      {% breadcrumbs %}
    {% endif %}
  </div>
  {% endblock %}
    {% for section in sections %}
        <section class="ContentList ContentList--bgTertiary {% if section.extra_style_hints %}ContentList--LearnCategory{% endif %}">
            <header class="ContentList-header">
              {% load_descendant_articles_for_section section as section_articles %}
              <h1 class="ContentList-categoryLabel {% if section.extra_style_hints %}ContentList-categoryLabel--{{section.extra_style_hints}}{% endif%}">
                <a href="{% pageurl section %}" class="ContentList-categoryLabel--link {% if section.extra_style_hints %}ContentList-categoryLabel--SectionMenu-link{% endif%} {% if self.extra_style_hints == "LearnModule" %}ContentList-categoryLabel--SubLink{% endif %}">
                {% if self.extra_style_hints == "LearnModule" %}
                  {{section.title}} -
                  <span class="ContentList-categoryLabel--ResourcesCount">
                    {{section_articles|length}} {% trans "resources" %}
                  </span>
                {% else %}
                  {{section.title}}
                {% endif %}
              </a>
            </h1>
            </header>

            <!--TODO Add if not section[child or Learn section] -->
            {% if not self.extra_style_hints == "LearnModule" %}
              {% load_child_articles_for_section section as articles %}
              {% if articles %}
              <div class="ContentList-body">
                  {% for article in articles %}
                      <a href="{% pageurl article %}" class="Article-hitBox">
                          <article class="Article">
                              {% if article.image %}
                                  {% image article.image width-85 class="Article-image Article-image--aside" %}
                              {% endif %}
                              <h2 class="Article-headline">
                                {{ article.title }}</h2>
                              <p class="Article-strapline">{{ article.subtitle }}</p>
                          </article>
                      </a>
                  {% endfor %}
              </div>
              <footer class="ContentList-actions">
                  <a href="{% pageurl section %}"
                     class="Button Button--blue">{% trans "View more articles about" %} {{ section.title }}</a>
              </footer>
              {% endif %}
            {% endif %}
        </section>
    {% endfor %}

    <!-- SUB SUB CATEGORY ARTICLE LISTING -->
    {% load_child_articles_for_section self as articles %}
    {% if self.get_parent_section.extra_style_hints == "LearnModule" %}
      <header class="ContentList-header {% if self.get_parent_section.extra_style_hints %}SectionLearn{% endif %}">
          {% for article in articles %}
          <h1 class="ContentList-categoryLabel">
            <a href="{% pageurl article %}" class="ContentList-categoryLabel--link ContentList-categoryLabel--SubLink">
              {{ article.title }}
              <span class="ContentList-categoryLabel--subtitle">{{ article.subtitle }}</span>
            </a>
          {% endfor %}
      </header>
    {% else %}
      <div class="ContentList-body">
        {% for article in articles %}
        <a href="{% pageurl article %}" class="Article-hitBox">
          <article class="Article">
            {% if article.image %}
              {% image article.image width-85 class="Article-image Article-image--aside" %}
            {% endif %}
            <h2 class="Article-headline">
              {{ article.title }}</h2>
            <p class="Article-strapline">
              {{ article.subtitle }}</p>
            {% if article.is_current_topic_of_the_day %}
              {% get_comment_count for article as comment_count %}
              <img src="{% static 'images/comments.png' %}" alt="NurseConnect Comments" width=25 height=25
                   class="Logo-graphic"> <strong>{{ comment_count }}</strong>
            {% endif %}
          </article>
        </a>
        {% endfor %}
      </div>
    {% endif %}

    <!-- PAGINATION -->
    {% if articles %}
    <aside class="ContentBody-secondaryNav">
      <nav class="Pagination" role="navigation">
        <ul class="Pagination-bar" role="menubar" aria-labelledby="pagination-label">
        {% if articles_paginated.has_previous %}
          <li class="Pagination-item Pagination-item--prev" role="presentation">
              <a class="Pagination-link" role="menuitem"
                 href="?p={{ articles_paginated.previous_page_number }}">Prev</a>
          </li>
        {% endif %}
        <span class="Pagination-label"
            id="pagination-label">{% trans "Page" %} {{ articles_paginated.number }} {% trans "of" %} {{ articles_paginated.paginator.num_pages }}
        </span>
        {% if articles_paginated.has_next %}
          <li class="Pagination-item Pagination-item--next" role="presentation">
            <a class="Pagination-link" role="menuitem"
               href="?p={{ articles_paginated.next_page_number }}">{% trans "Next" %}</a>
          </li>
        {% endif %}
        </ul>
      </nav>
    </aside>
    {% endif %}

{% endblock %}
