{% extends "base.html" %}
{% load i18n %}
{% block search %}{% endblock %}
{% block content %}
    {% if search_results %}
        <div class="HeroTout">
            <h1 class="HeroTout-headline">Your search results for <strong>{{ search_query }}</strong></h1>
        </div>
        <div class="SearchBar--form">
          {% include "patterns/basics/heading/search-cta.html" %}
        </div>
    {% else %}
        <div class="HeroTout">
            <h1 class="HeroTout-headline">Search</h1>
        </div>
        <div class="SearchBar--form">
          {% include "patterns/basics/heading/search-cta.html" %}
        </div>
    {% endif %}
    {% include "search/search_block.html" %}
    {% if search_results %}
        {% include "search/search_results.html" %}
    {% elif not search_results and searched or search_query == "" %}
        <div class="Message Message--inpage Message--centered">
            {% if search_query == "" %}
                <p class="Message-caption">{% trans "No results found for " %}<strong>""</strong></p>
            {% else %}
                <p class="Message-caption">{% trans "No results found for " %}<strong>{{ search_query }}.</strong></p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
