{% extends 'base.html' %}
{% load wagtailcore_tags nurseconnect_tags i18n %}

{% block content %}
<div class="Surveys-booklet" id="roadToHealthSurvey">
  <h1 class="ContentList-categoryLabel">{{ page.title }}</h1>
  {% if form %}
    <form class="Surveys-booklet__Form" action="{% pageurl self %}" method="post" novalidate>
    {% csrf_token %}
      {% for field in form %}
          {% if field|fieldtype == 'RadioSelect' %}
            <h3 class="Surveys-booklet__label">{{ field.label }}</h3>
              {% if field.help_text %}
                  <span class="Message-caption">{{ field.help_text }}</span>
              {% else %}
                {% if survey.content %}
                  {% for block in survey.content %}
                    {% if block.block_type == 'heading' %}
                      <h5 class="Message-caption--title">{{ block.value }}</h5>
                    {% elif block.block_type == 'paragraph' %}
                      <span class="Message-caption">{{ block.value }}</span>
                    {% elif block.block_type == 'numbered_list' %}
                      <ol class="Message-caption-orderedList">
                        {% for item in block.value %}
                          <li class="Message-caption-orderedList__item">{{item}}</li>
                        {% endfor %}
                      </ol>
                    {% elif block.block_type == 'list' %}
                      <ul class="Message-caption-unorderedList">
                        {% for item in block.value %}
                          <li class="Message-caption-unorderedList__item">{{item}}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {% endfor %}
                {% endif %}
              {% endif %}
              {{ field }}
          {% endif %}

        {% if field.errors %}
          <ul class="error-list errorlist">
            {% for error in field.errors %}
              <li class="error-list__item">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      {% trans "Submit Quiz" as text %}
      <input type="submit" value="{{ self.submit_text|default:text }}" />
    </form>
  {% else %}
    <div class="call-to-action call-to-action--surveys">
      <a href="{{request.site.root_page.url}}">{% trans "Back to Home page" %}</a>
    </div>
  {% endif %}
</div>
{% endblock %}
