{% load wagtailcore_tags i18n %}

<h1 class="ContentList-categoryLabel">{% trans "Road to Health booklet Survey" %}</h1>
{{ survey.form }}

<form class="Surveys-booklet__Form" action="{% pageurl survey %}" method="post" novalidate>
    {% csrf_token %}
    {% for field in survey.get_form %}
        <h3 class="Surveys-booklet__label">{{ field.label }}</h3>
        <span class="Message-caption">{{ field.help_text }}</span>
        {{ field }}
    {% endfor %}
    {% trans "Submit Survey" as text %}
    <input type="submit" value="{{ self.submit_text|default:text }}" />
</form>
