{% load wagtailcore_tags i18n nurseconnect_tags %}

<h1 class="ContentList-categoryLabel">{{survey.title}}</h1>

<form class="Surveys-booklet__Form" action="{% pageurl survey %}" method="post" novalidate>
{% csrf_token %}
    {% for field in survey.get_form %}
        {% if field|fieldtype == 'RadioSelect' %}
            <h3 class="Surveys-booklet__label">{{ field.label }}</h3>
            {% if field.help_text %}
                <span class="Message-caption">{{ field.help_text }}</span>
            {% else %}
                {% if survey.content %}
                    {% for block in survey.content %}
                            {% if block.block_type == 'heading' %}
                                <h5 class="Message-caption--title">{{ block.value }}</h5>
                            {% elif block.block_type == 'paragraph' %}
                                <span class="Message-caption">
                                    {{ block.value }}
                                </span>
                            {% elif block.block_type == 'numbered_list' %}
                                <ol class="Message-caption-orderedList">
                                  {% for item in block.value %}
                                    <li class="Message-caption-orderedList__item">{{item}}</li>
                                  {% endfor %}
                                </ol>
                            {% elif block.block_type == 'list' %}
                                <ul class="Message-caption-unorderedList">
                                  {% for item in block.value %}
                                    <li class="Message-caption-unorderedList__item">{{item}}</li>
                                  {% endfor %}
                                </ul>
                            {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {{ field }}
        {% endif %}

        <!--Error validation Work on Molo Survey Page not on Form template -->
        {% if field.errors %}
        <ul class="error-list errorlist">
            {% for error in field.errors %}
              <li class="error-list__item">{{ error }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    {% trans "Submit Survey" as text %}
    <input type="submit" value="{{ self.submit_text|default:text }}" />
</form>
