{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% if sections %}
  <div class="HeroTout">
    <h1 class="HeroTout-headline">
        {% trans "Select an action from the list to view" %}
    </h1>
  </div>
  <nav class="Menu Menu--highContrast" role="menubar" id="site-nav">
    <ul class="Menu-navGroup Menu-navGroup--lvl1" role="menu">
      <li class="Menu-navItem" role="presentation">
        <a href="{% url "home" %}" class="Menu-navLink" role="menuitem">
          {% trans "Home" %}
        </a>
      </li>
    {% for section in sections %}
        <li class="Menu-navItem" role="presentation">
          <a href="{% pageurl section %}" class="Menu-navLink" role="menuitem">
            {{ section.title }}
          </a>
        </li>
    {% endfor %}
      <li class="Menu-navItem" role="presentation">
        <a href="{% url "search" %}" class="Menu-navLink" role="menuitem">
            {% trans "Search" %}
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li class="Menu-navItem" role="presentation">
        <a href="{% url 'molo.profiles:view_my_profile' %}" class="Menu-navLink" role="menuitem">
          {% trans "Your Profile" %}
        </a>
      </li>
      <li class="Menu-navItem" role="presentation">
        <a href="{% url "molo.profiles:auth_logout" %}" class="Menu-navLink" role="menuitem">
          {% trans "Log out" %}
        </a>
      </li>
      {% else %}
      <li class="Menu-navItem" role="presentation">
        <a href="{% url "auth_login" %}?next={{request.path}}" class="Menu-navLink" role="menuitem">{% trans "Login" %}</a>
      </li>
      {% endif %}
    </ul>
  </nav>
