{% load wagtailcore_tags wagtailimages_tags static i18n %}
{% load comments mptt_tags molo_commenting_tags %}


<section class="ContentList">
    <div class="ContentList-body">
        {% if articles %}
            <header class="ContentList-header">
                <h1 class="ContentList-categoryLabel">{% trans "Topic of the day" %}</h1>
            </header>
            {% for article in articles %}
                <article class="Article Article--featured">
                    <a href="{% pageurl article %}" class="Article-hitBox">

                        {% if article.image %}
                            {% image article.image width-320 class="Article-image Article-image--aside" %}
                        {% endif %}

                        <h2 class="Article-headline">{{ article.title }}</h2>
                        <p class="Article-strapline">{{ article.subtitle }}</p>

                        <ul class="Article-actions">
                            <li class="Article-actionsItem">
                                {% get_comment_count for article as comment_count %}
                                <img src="{% static 'images/comments.png' %}" alt="NurseConnect Comments" width=25
                                     height=25 class="Logo-graphic"> {{ comment_count }}
                            </li>
                        </ul>
                    </a>
                </article>
            {% endfor %}
        {% endif %}
    </div>
</section>
