.static-menu {
  background-color: $color-white;
  &-list {
    margin: 0;
    padding: scale(alpha) 0;
    &__item {
      list-style-type: none;
      display: block;
      padding: inherit;
      padding: 0 scale(alpha) 5px;
    }
    &__anchor {
      background-color: $color-blue-spindle;
      border-radius: scale(alpha);
      color: $color-blue-regal;
      display: block;
      font-size: 1.1rem;
      font-weight: 700;
      text-align: left;
      text-decoration: none;
      text-transform: capitalize;
      padding: 6px scale(beta);
      width: 100%;
      &:hover,
      &:active,
      &:focus {
        background-color: darken($color-blue-spindle, 10%);
      }
      &:after {
        content: " ";
        background:url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M95.2%205.9C87.4-2%2074.5-2%2066.6%205.9s-7.9%2020.8%200%2028.6L182.1%20150%2066.6%20265.5c-7.9%207.9-7.9%2020.8%200%2028.6%203.8%203.8%208.9%205.9%2014.3%205.9s10.5-2.1%2014.3-5.9L239.3%20150%2095.2%205.9z%22%20fill%3D%22%23213d55%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        display: inline-block;
        float: right;
        margin: 5px 0 0;
        vertical-align: middle;
        width: 20px;
        height: 20px;
      }

      &--backToTop {
        &:after {
          background:url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M293.5%2095.4c7.9-7.9%207.9-20.7%200-28.5-7.9-7.9-20.7-7.9-28.5%200l-115%20115-115-115c-7.9-7.9-20.7-7.9-28.6%200C2.6%2070.7.5%2075.8.5%2081.2s2.1%2010.4%205.9%2014.3L149.9%20239%20293.5%2095.4z%22%20fill%3D%22%23213d55%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
          transform: rotate(180deg);
        }
      }

      &--logout {
        &:after {
          background:url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M204.7%20294.1c7.9%207.9%2020.8%207.9%2028.6%200%207.9-7.9%207.9-20.8%200-28.6L117.9%20150%20233.4%2034.5c7.9-7.9%207.9-20.8%200-28.6-3.8-3.8-8.9-5.9-14.3-5.9s-10.5%202.1-14.3%205.9L60.7%20150l144%20144.1z%22%20fill%3D%22%23213d55%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }
      }
    }


  }
}
