.ContentList {
    $block: unquote("#{&}");

    @include clearfix;
    background-color: $color-white;

    & + & {
        border-top: 1px solid $color-blue-regal;
        border-top: 1px solid rgba($color-blue-regal, .1);
    }

    &--bgSecondary {
        background-color: $color-blue-spindle;
    }

    &--bgTertiary {
        background-color: $color-blue-tranquil;
    }

    &-header {
        margin: scale(beta) scale(gamma);
        background-color: inherit;
    }

    &--learnCategory {
      .ContentList-header {
        .ContentList-categoryLabel {
          color: $color-blue-pelorous;
          font-size: 18px;
        }
      }
    }

    &-categoryLabel {
        margin: 0;
        color: $color-orange-bittersweet;
        font-size: scale(beta);
        font-weight: 600;
        text-transform: uppercase;

        &--link {
          color: $color-blue-pelorous;
          cursor: pointer;
          display: block;
          text-decoration: none;
        }
        &--subLink {
          position: relative;
          &:after {
            content: " ";
            background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M95.2%205.9C87.4-2%2074.5-2%2066.6%205.9s-7.9%2020.8%200%2028.6L182.1%20150%2066.6%20265.5c-7.9%207.9-7.9%2020.8%200%2028.6%203.8%203.8%208.9%205.9%2014.3%205.9s10.5-2.1%2014.3-5.9L239.3%20150%2095.2%205.9z%22%20fill%3D%22%232d9ec5%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 6px;
            bottom: 0;
          }
        }
        &--resourcesCount,
        &--subtitle {
          color: $color-black;
          font-size: 12px;
          font-style: italic;
          display: inline-block;
          text-transform: lowercase;
        }

        &--subtitle {
          display: block;
          text-transform: capitalize;
          font-weight: normal;
        }
    }

    &-actions {
        margin: scale(gamma);
    }
}
