.SiteFooter {
    $block: unquote("#{&}");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-white;
    padding: scale(gamma) 0 0;

    &-actions,
    &-brand {
        margin: scale(beta) scale(gamma);
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
}
