.SiteHead {
  $block: unquote("#{&}");
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  overflow: hidden;
  &-actions,
  &-brand {
    margin: scale(gamma);
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-brand {
    margin-right: 0;
  }
}
