.CommunityFeatures {
  padding: 0 5%;
  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
  }
  .ContentList--bgSecondary {
    border-radius: 5px;
    @media screen and (min-width: 800px) {
      margin: 10px scale(alpha);
      width: 45%;
    }
  }
}

.surveys {
  $block: unquote("#{&}");
  background-color: $color-blue-spindle;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  @media screen and (min-width: 800px) {
    margin: 10px scale(alpha);
    padding: 0;
    width: 45%;
  }
  &__title {
    color: $color-orange-bittersweet;
    margin: scale(beta);
    font-size: scale(beta);
    @media screen and (min-width: 800px) {
      margin: scale(beta) scale(gamma);
    }
  }
  &__intro,
  &__thank-you {
    color: $color-blue-pelorous;
    line-height: 1;
    margin: scale(alpha)  scale(gamma);
    font-size: 1.46em;
    font-weight: 400;
    letter-spacing: kerning(-75);
  }

  &__results {
    margin: scale(beta) scale(gamma);
  }

  &__form {
    margin: scale(beta) scale(gamma) scale(beta) scale(beta);
    fieldset {
      border: none;
      padding: 10px 0;
      ul, li {
        list-style: none;
        padding: 0;
      }
      span {
        color: $color-orange-bittersweet;
      }
    }

    label {
      color: $color-blue-regal;
      font-size: 1em;
      display: block;
      margin-bottom: 10px;
      color: $color-blue-regal;
      font-weight: 600;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="url"],
    select,
    textarea {
      display: block;
      padding: scale(alpha) 1%;
      background-color: $color-white;
      color: $color-blue-regal;
      width: 100%;
      border-radius: 3px;
    }
    input[type="checkbox"],
    input[type=radio] {
      margin: 0 10px 0 0;
    }
    select {
      height: 38px;
      width: 50%;
    }
    textarea {
      height: 80px;
    }
  }

}

input[type="submit"],
.call-to-action__nav-item--surveys {
  background-color: $color-orange-bittersweet;
  border-radius: 2rem;
  color: $color-white;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  padding: .75rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color-orange-bittersweet, 10%);
  }
}
.call-to-action {
  @media screen and (min-width: 800px) {
    margin: scale(alpha)  scale(gamma) scale(delta) scale(gamma);
  }
}
.error--surveys {
  color: red;
  margin: scale(alpha) scale(beta);
  @media screen and (min-width: 800px) {
    margin: scale(alpha) scale(gamma);
  }
}
