.Paper {
    $block: unquote("#{&}");
    &-header {
        padding: scale(gamma);
        background-color: $color-blue-spindle;
        border-bottom: $color-blue-tranquil;
    }
    &-graphic {
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        &--inline {
            float: left;
            width: 50%;
            margin: 0 scale(beta) scale(beta) 0;
        }
    }
    &-headline {
        margin: scale(alpha) 0;
        color: $color-blue-pelorous;
        font-weight: 400;
        line-height: 1.25;
    }
    &-dateline {
        color: $color-orange-bittersweet;
        font-weight: 600;
        text-transform: uppercase;
    }
    &-byline {
        font-weight: 300;
    }
    &-lead {
        margin: scale(alpha) 0 0;
        font-size: scale(gamma);
        font-weight: 300;
    }
    &-copy {
        padding: scale(beta) scale(gamma);
        background-color: $color-white;
        font-weight: 300;
        overflow: auto;
        * {
            box-sizing: content-box;
        }
        &__imageWrap {
            width: 75%;
            clear: both;
            #{$block}-graphic--inline {
                padding: 0 scale(beta) scale(beta) 0;
            }
        }

        p {
            margin: 0;
            margin-bottom: scale(beta);
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        b,
        strong {font-weight: 600;}
        a {
            color: $color-orange-bittersweet;
            font-weight: 600;
            outline: none;
        }
        blockquote {
            max-width: 90%;
            margin: scale(beta) (-(scale(gamma))) scale(beta) auto;
            padding: scale(gamma);
            color: $color-grey-nero;
            font-family: serif;
            font-size: scale(gamma);
            font-style: italic;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: scale(delta) 0 scale(beta);
            color: $color-grey-nero;
            font-weight: 400;
            line-height: 1.25;
        }
        h1 {font-size: scale(eta);}
        h2 {font-size: scale(delta);}
        h3 {font-size: scale(gamma);}
        h4 {font-size: scale(beta);}
        h5 {font-size: scale(alpha);}
        ul {
            margin: scale(beta) 0;
            padding: 0 0 0 1em;
        }

        figure {
            margin: scale(beta) 0;
            width: 100%;
            img {
                height: auto;
                max-width: 100%;
                width: auto;
            }
        }
        figcaption {
            padding: scale(alpha) scale(gamma) 0 0;
            font-family: serif;
            font-size: scale(beta);
            font-weight: 600;
            text-align: left;
        }
        &-list {
            clear: both;
          &__Item {
            padding: scale(alpha) 0;
            color: $color-blue-pelorous;
            display: block;
            list-style: none;
            position: relative;
            &:after {
              content: " ";
              display: inline-block;
              background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M95.2%205.9C87.4-2%2074.5-2%2066.6%205.9s-7.9%2020.8%200%2028.6L182.1%20150%2066.6%20265.5c-7.9%207.9-7.9%2020.8%200%2028.6%203.8%203.8%208.9%205.9%2014.3%205.9s10.5-2.1%2014.3-5.9L239.3%20150%2095.2%205.9z%22%20fill%3D%22%232d9ec5%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
              background-repeat: no-repeat;
              background-size: auto;
              background-position: 0 0;
              width: rem(25);
              height: rem(25);
              position: absolute;
              right: 0;
              bottom: 0;
              top: rem(15);
            }
            &--Numbered {
              list-style: decimal;
              display: list-item;
            }
            a {
              display: block;
              padding: 0 scale(delta) 0 0;
              color: $color-blue-pelorous;
              text-decoration: none;
              &:hover,
              &focus {
                color: $color-orange-bittersweet;
                text-decoration: underline;
              }
              &:visited {
                outline: 1px $color-orange-bittersweet dotted;
                text-decoration: underline;
              }
            }
          }
        }
    }

    &-header--banner {
      padding: 0 scale(gamma);
      #{$block}-graphic  {
        width: auto;
        height: auto;
        margin: 0 auto;
      }
    }
    &-header--landing {
      position: relative;
      overflow: auto;
      padding: scale(gamma) scale(gamma);
      #{$block}-headline--landing {
        position: absolute;
        top: 20%;
        width: 50%;
        padding: 0 scale(alpha) 0 0;
        font-size: 1.88em;
        word-break: break-word;
      }
      #{$block}-graphic--landing {
          float: right;
          width: 50%;
          margin: 0;
      }
    }
    .SectionLearn {
      background-color: $color-white;
      margin: 0;
      padding: scale(gamma);
      #{$block}-copy-list {
        margin: 0;
        padding: 0 0 0 1em;
      }
    }
    .ArticleFeature__page {
      display: block;
      padding: 0 4rem .75rem 0;
      &-link {
        word-break: break-word;
      }
    }
}
