.SiteHead {
  $block: unquote("#{&}");
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 15%;
  &-actions,
  &-brand {
    margin: scale(gamma) 0;
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
