.CommunityFeatures {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15%;
  .ContentList--bgSecondary {
    border-radius: 5px;
    margin: 10px scale(alpha);
    width: 45%;
  }
}

.surveys {
  $block: unquote("#{&}");
  background-color: $color-blue-spindle;
  border-radius: 5px;
  width: 45%;
  margin: 10px scale(alpha);
}

input[type="submit"],
.call-to-action__nav-item--surveys {
  padding: .75rem 2rem;
  border-radius: 2rem;
  background-color: $color-orange-bittersweet;
  color: $color-white;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color-orange-bittersweet, 10%);
  }
}

.surveys__title {
  color: $color-orange-bittersweet;
  margin: scale(beta) scale(gamma);
  font-size: scale(beta);
}
.surveys__intro,
.surveys__thank-you{
  color: $color-blue-pelorous;
  line-height: 1;
  margin: scale(alpha)  scale(gamma);
  font-size: 1.46em;
  font-weight: 400;
  letter-spacing: kerning(-75);
}

.error--surveys {
  color: red;
  margin: scale(alpha)  scale(gamma);
}

.call-to-action {
  margin: scale(alpha)  scale(gamma) scale(delta) scale(gamma);
}

.surveys__results {
  margin: scale(beta) scale(gamma);
}

.surveys__form {
  margin:  scale(beta) scale(gamma) scale(beta) scale(beta);

  fieldset {
    border: none;
    padding: 10px 0;
    ul, li {
      list-style: none;
      padding: 0;
    }
    span {
      color: $color-orange-bittersweet;
    }
  }

  label {
    color: $color-blue-regal;
    font-size: 1em;
    display: block;
    margin-bottom: 10px;
    color: $color-blue-regal;
    font-weight: 600;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="url"],
  select,
  textarea {
    display: block;
    padding: scale(alpha) 1%;
    background-color: $color-white;
    color: $color-blue-regal;
    width: 100%;
    border-radius: 3px;
  }
  input[type="checkbox"],
  input[type=radio] {
    margin: 0 10px 0 0;
  }
  select {
    height: 38px;
    width: 50%;
  }
  textarea {
    height: 80px;
  }
}
