{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}


{% block content %}
    <section action="" class="Splash">
        <div class="Splash-body">
            <h1 class="Splash-headline">{% trans "Welcome back! Enter your details below to log in." %}</h1>
        </div>
        <div class="Splash-body">
            <form method="POST" action="{% url "auth_login" %}" class="Form">
                {% csrf_token %}
                <fieldset class="Form-fieldGroup">
                    {% if form.errors %}
                        <p class="Form-message Form-message--error Form-message--centered">
                            {% trans "Your mobile number and password do not match. Please try again." %}
                        </p>
                        <p class="Form-message Form-message--centered">
                            {% trans "If you’ve forgotten your password," %} <a href="{% url "forgot_password" %}" class="Link">{% trans "click here." %}</a>
                        </p>
                    {% endif %}
                    <div class="Form-field Form-field--required">
                        <label for="mobilenum" class="Form-fieldLabel">{% trans "Mobile Number" %}</label>
                        <input name="username" type="tel" id="mobilenum" class="Form-input"
                               placeholder="eg. 0821234567">
                        {{ form.username.errors }}
                    </div>
                    <div class="Form-field Form-field--required">
                        <label for="mobilenum" class="Form-fieldLabel">{% trans "Password" %}</label>
                        <input name="password" type="password" id="pword" class="Form-input"
                               placeholder="Enter password">
                        {{ form.password.errors }}
                    </div>
                </fieldset>
                <p class="Form-message Form-message--centered"><i class="Form-requiredExample">*</i> {% trans "required field" %}</p>
                <div class="Splash-actions">
                    <ul class="ButtonGroup">
                        <li class="ButtonGroup-item">
                            <input type="submit" class="Button" value="{% trans 'Sign in' %}">
                            <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.site.root_page.url }}{% endif %}"/>
                        </li>
                        <li class="ButtonGroup-item">
                            <div class="Message Message--subtle Message--centered">
                                <p class="Message-caption">
                                    {% trans "Don't have an account? Sign up" %} <a
                                        href="{% url "user_register" %}">{% trans "here" %}</a>
                                </p>
                                <a href="{% url "forgot_password" %}" class="Link">{% trans "Forgot password? Click here." %}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
