{% extends "base.html" %}
{% load i18n static core_tags wagtailcore_tags wagtailsettings_tags nurseconnect_tags %}
{% get_settings %}

{% block content %}
    <section action="" class="Splash">
        <div class="Splash-body">
            <h1 class="Splash-headline">{% trans "Welcome." %}<br> {% trans "Let's get you signed up." %}</h1>
        </div>
        <div class="Splash-body">
            <form method="POST" action="{% url "user_register_clinic_code" %}" class="Form" novalidate>
                {% csrf_token %}
                <fieldset class="Form-fieldGroup">
                    <legend class="Form-groupHeading">{% trans "Clinic Code" %}</legend>
                    <div class="Form-field Form-field--required {% if form.clinic_code.errors %} Form-field--error {% endif %}">
                        <label for="id_{{ form.clinic_code.name }}" class="Form-fieldLabel">{{ form.clinic_code.label }}</label>
                        {{ form.clinic_code }}
                        {% if form.clinic_code.errors %}
                            <label for="id_{{ form.clinic_code.name }}" class="Form-message Form-message--error">{{ form.clinic_code.errors }}</label>
                        {% endif %}
                    </div>
                </fieldset>
                <div class="Form-message Form-message--centered Form-message--error">
                    {{ form.non_field_errors }}
                </div>
                <p class="Form-message Form-message--centered">
                    <i class="Form-requiredExample">*</i> {% trans "required field" %}
                </p>
                <div class="Splash-actions">
                    <ul class="ButtonGroup">
                        <li class="ButtonGroup-item">
                            <input class="Button" type="submit" value="{% trans "Validate" %}"/>
                        </li>
                        <li class="ButtonGroup-item">
                            <div class="Message Message--subtle Message--centered">
                                <p class="Message-caption">
                                    {% trans "Already have an account? Log in" %} <a
                                        href="{% url "auth_login" %}">{% trans "here" %}</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
