{% load comments mptt_tags molo_commenting_tags nurseconnect_tags i18n %}

{% if self.is_commenting_enabled %}
    <div class="Comments-body">

        {% get_comment_count for self as comment_count %}
        {% get_molo_comments for self as comment_list %}

        {% for node in comment_list %}
{#             TODO Fix #}
{#            <time class="Comments-dateline"#}
{#                  datetime="{{ node.values.0.submit_date.year }}-{{ node.values.0.submit_date.month }}-{{ node.values.0.submit_date.day }}"#}
{#                  pubdate#}
{#                  title="{% convert_month node.values.0.submit_date.month %} {{ node.values.0.submit_date.day }}, {{ node.values.0.submit_date.year }}">#}
{#                {% convert_month node.values.0.submit_date.month %}#}
{#                {{ node.values.0.submit_date.day }}#}
{#                {{ node.values.0.submit_date.year }}#}
{#                - {{ node.values.0.submit_date.hour }}:{% if node.values.0.submit_date.minute < 10 %}0{{ node.values.0.submit_date.minute }}{% else %}{{ node.values.0.submit_date.minute }}{% endif %}#}
{#            </time>#}
            {% recursetree node %}
                {% include "comments/comment.html" %}
                {{ children }}
            {% endrecursetree %}
        {% endfor %}

        {% if comment_count > 3 %}
            <div class="Comments-actions">
                <a class="Button Button--blue"
                   href="{% url "more-comments" self.pk %}">{% trans "view more comments" %}</a>
            </div>
        {% endif %}

        {% if self.allow_commenting %}
            {% render_comment_form for self %}
        {% else %}
            <div class="Message Message--inpage">
                <p class="Message-caption">
                    {% trans "Commenting on this article is currently disabled" %}
                </p>
            </div>
        {% endif %}

    </div>
{% endif %}
