.Breadcrumb {
    $block: unquote("#{&}");
    font-size: 12px;
    &-group {
        @include no-list;
        width: 100%;
    }
    &-item {
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
    }
    &-link {
        color: inherit;
        text-decoration: none;
        &:active,
        &:focus,
        &:hover {
            color: $color-blue-regal;
        }
        &--current {
            color: $color-blue-regal;
        }
    }

    &-chevron {
        display: inline-block;
        margin: 5px;
        vertical-align: middle;
        background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M95.2%205.9C87.4-2%2074.5-2%2066.6%205.9s-7.9%2020.8%200%2028.6L182.1%20150%2066.6%20265.5c-7.9%207.9-7.9%2020.8%200%2028.6%203.8%203.8%208.9%205.9%2014.3%205.9s10.5-2.1%2014.3-5.9L239.3%20150%2095.2%205.9z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        background-size: 10px;
        height: 10px;
        width: 10px;
        img {
            display: block;
            width: 8px;
        }
    }
}
