.surveys {
  $block: unquote("#{&}");
  & + & {
      border-top: 1px solid $color-blue-regal;
      border-top: 1px solid rgba($color-blue-regal, .1);
  }

  input[type="submit"],
  .call-to-action__nav-item--surveys {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: $color-orange-bittersweet;
    color: #000;
    font-size: 16px;
    border: none;
    margin-bottom: 20px;
  }

}

.surveys__title {
  color: $color-orange-bittersweet;
  margin:  0  10px;
  font-weight: 600;
  text-transform: uppercase;
}
.surveys__intro,
.surveys__thank-you{
  color: $color-blue-pelorous;
  margin: 0  10px;
  font-size: 14px;
  font-weight: 400;
}

.error--surveys {
  color: red;
  margin: 0 10px;
}

.call-to-action {
  margin: 10px 0 20px;
}

.surveys__results {
  margin: 10px;
}

.surveys__form {
  margin:  0  10px;
  fieldset {
    border: none;
    padding: 10px 0;
    ul, li {
      list-style: none;
      padding: 0;
    }
  }

  label {
    display: block;
    margin-bottom: 3px;
    color: $color-blue-regal;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="url"],
  select,
  textarea {
    display: block;
    padding:  10px;
    border: 0;
    background-color: $color-white;
    color: $color-blue-regal;
    width: 90%;
  }

}
