// ==========================================
// >> ROOT STYLES
// ==========================================
// ** :root Base Styles.
// ==========================================
//    :root refers to the first parent element
//    in the DOM tree. (as in, the html tag).

// ==========================================
// ** CSS Browser Normalization
// ==========================================
// @import "../../node_modules/sanitize.css/sanitize.css";
// ==========================================

:root,
html {
  background-color: $color-blue-regal;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: $base-line-height;
  @if $enhanced == true {
    &.wf-active {
      font-family: $font-sans-serif;
    }
  }
}

body {
  background-color: $color-blue-regal;
  color: #fff;
  @media screen and (min-width: 800px) {
    @if $enhanced == true {
      margin: 0 auto;
      //padding: 0 15%;
    }
  }
}


@if $enhanced == true {
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
} @else {
  *,
  :after,
  :before {
    box-sizing: content-box;
  }
}
