.ImageViewport {
    $block: unquote("#{&}");

    position: relative;
    display: block;
    overflow: hidden;

    img {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        transform: translatey(-50%);
    }

    &--16-5 {
        padding-top: 24%;
    }
}
